<section class="about">
  <div class="container">
    <h2 class="about-title">About the Game</h2>

    <div class="about-wrapper">
      <div class="about-wrap-one">
        <p class="about-text-one">
          Indulge in a sugary adventure with
          <span class="about-span-one">Sweet Jam: Candy & Jelly Match!</span>
          This exciting match-3 puzzle game invites you to swap, match, and
          blast delicious candies through hundreds of challenging levels. With
          stunning visuals, fun power-ups, and daily rewards, you’ll experience
          an irresistible mix of strategy and sweetness!
        </p>
        <div class="about-wrap-img-one">
          <picture class="about-three-img">
            <source
              srcset="
                ./img/about/about-three-1x-desk.png 1x,
                ./img/about/about-three-2x-desk.png 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./img/about/about-three-1x-desk.png"
              alt="About the game three"
            />
          </picture>

          <picture class="about-four-img">
            <source
              srcset="
                ./img/about/about-four-1x-desk.png 1x,
                ./img/about/about-four-2x-desk.png 2x
              "
              media="(min-width: 1440px)"
            />
            <img
              src="./img/about/about-four-1x-desk.png "
              alt="About the game four"
            />
          </picture>
        </div>
      </div>

      <div class="about-wrap-two">
        <div class="about-wrap-img-two">
          <picture class="about-one-img">
            <source
              srcset="
                ./img/about/about-one-1x-desk.png 1x,
                ./img/about/about-one-2x-desk.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/about/about-one-1x-mob.png 1x,
                ./img/about/about-one-2x-mob.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/about/about-one-1x-mob.png"
              alt="About the game one"
            />
          </picture>

          <picture class="about-two-img">
            <source
              srcset="
                ./img/about/about-two-1x-desk.png     1x,
                ./img/about/about-two-2x-desk-2.1.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/about/about-two-1x-mob.png 1x,
                ./img/about/about-two-2x-mob.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/about/about-two-1x-mob.png"
              alt="About the game one"
            />
          </picture>
        </div>
        <p class="about-text-one-two">
          Indulge in a sugary adventure with
          <span class="about-span-one-two"
            >Sweet Jam: Candy & Jelly Match!</span
          >
          This exciting match-3 puzzle game invites you to swap, match, and
          blast delicious candies through hundreds of challenging levels. With
          stunning visuals, fun power-ups, and daily rewards, you’ll experience
          an irresistible mix of strategy and sweetness!
        </p>
        <p class="about-text-two">
          Complete special challenges, unlock powerful boosters, and progress
          through a colorful candy world. Whether you play casually or aim for
          high scores, Sweet Jam is the perfect game for puzzle lovers of all
          ages!
        </p>
      </div>
    </div>
  </div>
</section>
