<section class="advantages">
  <div class="container">
    <div class="advantages-container">
      <h2 class="advantages-title">Advantages</h2>

      <div class="advantages-wrap-dop">
        <div class="advantages-bottom-wrap-two">
          <div class="advantages-wrap-cont-one">
            <picture class="advantages-wrap-img-one">
              <source
                srcset="
                  ./img/adv/adv-one-1x-desk.png 1x,
                  ./img/adv/adv-one-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./img/adv/adv-one-1x-mob.png 1x,
                  ./img/adv/adv-one-2x-mob.png 2x
                "
                media="(max-width: 1439px)"
              />
              <img src="./img/adv/adv-one-1x-mob.png" alt="Advantages image" />
            </picture>

            <p class="advantages-wrap-parag-one">
              <span class="advantages-wrap-span-one"
                >Engaging & Relaxing - </span
              >A fun way to unwind with simple yet strategic gameplay.
            </p>
          </div>

          <div class="advantages-wrap-cont">
            <picture class="advantages-wrap-img">
              <source
                srcset="
                  ./img/adv/adv-two-1x-desk.png 1x,
                  ./img/adv/adv-two-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img src="./img/adv/adv-two-1x-desk.png" alt="Advantages image" />
            </picture>

            <p class="advantages-wrap-parag">
              <span class="advantages-wrap-span">Regular Updates - </span>New
              levels, events, and special rewards keep the game fresh.
            </p>
          </div>

          <div class="advantages-wrap-cont">
            <picture class="advantages-wrap-img">
              <source
                srcset="
                  ./img/adv/adv-three-1x-desk.png 1x,
                  ./img/adv/adv-three-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/adv/adv-three-1x-desk.png"
                alt="Advantages image"
              />
            </picture>

            <p class="advantages-wrap-parag">
              <span class="advantages-wrap-span">Free to Play - </span>Enjoy the
              full experience without any cost (optional in-app purchases
              available).
            </p>
          </div>
        </div>

        <div class="advantages-bottom-wrap">
          <div class="advantages-wrap-cont">
            <picture class="advantages-wrap-img">
              <source
                srcset="
                  ./img/adv/adv-four-1x-desk.png 1x,
                  ./img/adv/adv-four-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/adv/adv-four-1x-desk.png"
                alt="Advantages image"
              />
            </picture>

            <p class="advantages-wrap-parag">
              <span class="advantages-wrap-span"
                >Smooth & Intuitive Controls - </span
              >Designed for effortless tapping, swapping, and matching.
            </p>
          </div>

          <div class="advantages-wrap-cont">
            <picture class="advantages-wrap-img">
              <source
                srcset="
                  ./img/adv/adv-five-1x-desk.png 1x,
                  ./img/adv/adv-five-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/adv/adv-five-1x-desk.png"
                alt="Advantages image"
              />
            </picture>

            <p class="advantages-wrap-parag">
              <span class="advantages-wrap-span">Compete with Friends - </span
              >Connect and see who can reach the highest level!
            </p>
          </div>
        </div>
      </div>

      <img
        width="317"
        height="502"
        class="advantages-candy-left-img"
        src="./img/candy-umbr-2x.png"
        alt="Candy nav"
      />
      <img
        width="317"
        height="502"
        class="advantages-candy-right-img"
        src="./img/candy-umbr-2x.png"
        alt="Candy nav"
      />
    </div>
  </div>
</section>
