<footer class="footer">
  <div class="footer-wrap">
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="/two-game/pages/privacy-policy.html" class="nav-link"
          >Privacy policy</a
        >
      </li>

      <li class="footer-nav-item">
        <a href="pages/terms.html" class="nav-link">Terms and Conditions</a>
      </li>

      <li class="footer-nav-item">
        <a href="pages/cookies.html" class="nav-link">Cookies Policy</a>
      </li>
    </ul>

    <p class="footer-text">© 2025 gamepowerpath.com. All rights reserved</p>
  </div>
</footer>
