<section class="gallery">
  <div class="container">
    <div class="gallery-container">
      <h2 class="gallery-title">Gallery</h2>

      <div class="swiper reviewsSwiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-1-1x.png 1x, ./img/gal/gal-1-2x.png 2x"
              />
              <img src="./img/gal/gal-1-1x.png" alt="Gallery image" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-2-1x.png 1x, ./img/gal/gal-2-2x.png 2x"
              />
              <img src="./img/gal/gal-2-1x.png" alt="Gallery image" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-3-1x.png 1x, ./img/gal/gal-3-2x.png 2x"
              />
              <img src="./img/gal/gal-3-1x.png" alt="Gallery image" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-4-1x.png 1x, ./img/gal/gal-4-2x.png 2x"
              />
              <img src="./img/gal/gal-4-1x.png" alt="Gallery image" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-5-1x.png 1x, ./img/gal/gal-5-2x.png 2x"
              />
              <img src="./img/gal/gal-5-1x.png" alt="Gallery image" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-6-1x.png 1x, ./img/gal/gal-6-2x.png 2x"
              />
              <img src="./img/gal/gal-6-1x.png" alt="Gallery image" />
            </picture>
          </li>

          <li class="swiper-slide">
            <picture class="swiper-slide-img">
              <source
                srcset="./img/gal/gal-7-1x.png 1x, ./img/gal/gal-7-2x.png 2x"
              />
              <img src="./img/gal/gal-7-1x.png" alt="Gallery image" />
            </picture>
          </li>
        </ul>
      </div>

      <div class="wrapper-button">
        <button class="swiper-button-prev">
          <img
            src="./img/arrow-2x-nev.png"
            class="swiper-button-prev-img"
            alt="Button-prev"
          />
        </button>
        <button class="swiper-button-next">
          <img
            src="./img/arrow-2x-prev.png"
            class="swiper-button-next-img"
            alt="Button-next"
          />
        </button>
      </div>
    </div>
  </div>
</section>
