<section id="game" class="game">
  <div class="container">
    <div class="game-container">
      <h2 class="game-title">Game Features</h2>

      <div class="game-wrap">
        <div class="game-wrap-text">
          <ul class="game-ul">
            <li class="game-li">
              <img
                class="game-li-img"
                src="./img/candy-little-red-2x.png"
                alt="Image candy little"
              />
              <div class="game-li-text">
                <h5 class="game-li-text-title">Addictive Match-3 Gameplay</h5>
                <p class="game-li-text-text">
                  Swap and match candies in exciting puzzle levels.
                </p>
              </div>
            </li>

            <li class="game-li">
              <img
                class="game-li-img"
                src="./img/candy-little-blue-2x.png"
                alt="Image candy little"
              />
              <div class="game-li-text">
                <h5 class="game-li-text-title">Powerful Boosters</h5>
                <p class="game-li-text-text">
                  Use explosive combos and special power-ups to clear tricky
                  stages.
                </p>
              </div>
            </li>

            <li class="game-li">
              <img
                class="game-li-img"
                src="./img/candy-little-red-2x.png"
                alt="Image candy little"
              />
              <div class="game-li-text">
                <h5 class="game-li-text-title">Daily Rewards & Events</h5>
                <p class="game-li-text-text">
                  Earn bonuses every day and participate in limited-time
                  challenges.
                </p>
              </div>
            </li>

            <li class="game-li">
              <img
                class="game-li-img"
                src="./img/candy-little-blue-2x.png"
                alt="Image candy little"
              />
              <div class="game-li-text">
                <h5 class="game-li-text-title">Hundreds of Levels</h5>
                <p class="game-li-text-text">
                  Enjoy an ever-expanding journey filled with new puzzles.
                </p>
              </div>
            </li>

            <li class="game-li">
              <img
                class="game-li-img"
                src="./img/candy-little-red-2x.png"
                alt="Image candy little"
              />
              <div class="game-li-text">
                <h5 class="game-li-text-title">Offline Mode</h5>
                <p class="game-li-text-text">
                  Play anytime, anywhere, even without an internet connection.
                </p>
              </div>
            </li>

            <li class="game-li">
              <img
                class="game-li-img"
                src="./img/candy-little-blue-2x.png"
                alt="Image candy little"
              />
              <div class="game-li-text">
                <h5 class="game-li-text-title">Sweet Visuals & Effects</h5>
                <p class="game-li-text-text">
                  Stunning candy-themed graphics and satisfying blast
                  animations.
                </p>
              </div>
            </li>
          </ul>
        </div>

        <div class="game-wrap-img">
          <picture class="game-img">
            <source
              srcset="
                ./img/game/game-1x-desk.png 1x,
                ./img/game/game-2x-desk.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/game/game-1x-mob.png 1x,
                ./img/game/game-2x-mob.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img src="./img/game/game-1x-mob.png" alt="Game features image" />
          </picture>
        </div>
      </div>

      <img
        width="317"
        height="502"
        class="game-little-candy-img"
        src="./img/candy-3.png"
        alt="Candy nav"
      />
    </div>
  </div>
</section>
