<section class="hero">
  <div class="hero-wrapper">
    <button type="button" class="hero-burger" data-modal-open>
      <img
        width="48"
        height="48"
        src="./img/burger-2x.png"
        alt="burger-button"
        class="burger-img"
      />
    </button>
    <picture class="hero-top">
      <source srcset="./img/logo-1x-desk.png" media="(min-width: 1440px)" />
      <source srcset="./img/logo-1x-mob.png" media="(max-width: 1439px)" />
      <img src="./img/logo-1x-mob.png" alt="Logo Sweet Jam" />
    </picture>
    <a
      class="hero-btn"
      href="https://play.google.com/store/apps/details?id=com.vandrouka.m2"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="./img/play.png" alt="Go to site" />
    </a>
  </div>
</section>
