<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <button type="button" class="back-button is-hidden" data-modal-close>
      <img
        width="48"
        height="48"
        src="./img/x-2x.png"
        alt="burger-button"
        class="back-img"
      />
    </button>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#about" class="modal-nav-link">About the Game</a>
        </li>
        <li class="modal-nav-item">
          <a href="#game" class="modal-nav-link">Game Features</a>
        </li>
        <li class="modal-nav-item">
          <a href="#advantages" class="modal-nav-link">Advantages</a>
        </li>
        <li class="modal-nav-item">
          <a href="#player" class="modal-nav-link">Player Reviews</a>
        </li>
        <li class="modal-nav-item">
          <a href="#gallery" class="modal-nav-link">Gallery</a>
        </li>
      </ul>
    </nav>
    <img
      width="317"
      height="502"
      class="modal-img"
      src="./img/candy-3.png"
      alt="Candy nav"
    />
  </div>
</div>
