<section class="player">
  <div class="container">
    <div class="player-container">
      <h2 class="player-title">Player Reviews</h2>

      <div class="player-wrap-mob">
        <div class="player-wrap-dop-img-mob">
          <picture class="game-img-mob">
            <source
              srcset="
                ./img/player/play-one-1x-mob.png 1x,
                ./img/player/play-one-2x-mob.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img
              src="./img/player/play-one-1x-mob.png"
              alt="Player Reviews image"
            />
          </picture>
        </div>

        <div class="player-wrap-dop-cont-mob">
          <div class="player-wrap-one-mob">
            <img
              src="./img/stars-5.png"
              alt="Player stars"
              class="player-wrap-img-mob"
            />
            <p class="player-wrap-text-mob">
              "Absolutely addictive! The candy explosions are so satisfying!"
            </p>
          </div>
          <div class="player-wrap-one-mob-dop">
            <img
              src="./img/player/avatar-1-2x.png"
              alt="Player avatar"
              class="player-wrap-avat-mob"
            />
            <p class="player-wrap-name-mob">Samantha R.:</p>
          </div>
        </div>
      </div>

      <div class="player-wrap">
        <div class="player-wrap-dop">
          <div class="player-wrap-dop-cont">
            <div class="player-wrap-one">
              <img
                src="./img/stars-5.png"
                alt="Player stars"
                class="player-wrap-img"
              />
              <p class="player-wrap-text">
                "Absolutely addictive! The candy explosions are so satisfying!"
              </p>
            </div>
            <div class="player-wrap-two">
              <img
                src="./img/player/avatar-1-2x.png"
                alt="Player avatar"
                class="player-wrap-avat"
              />
              <p class="player-wrap-name">Samantha R.:</p>
            </div>
          </div>

          <div class="player-wrap-dop-cont-img">
            <picture class="game-img">
              <source
                srcset="
                  ./img/player/play-two-1x-desk.png 1x,
                  ./img/player/play-two-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/player/play-two-1x-desk.png"
                alt="Player Reviews image"
              />
            </picture>
          </div>

          <div class="player-wrap-dop-cont">
            <div class="player-wrap-one">
              <img
                src="./img/stars-4.png"
                alt="Player stars"
                class="player-wrap-img"
              />
              <p class="player-wrap-text">
                "The graphics and animations are beautiful. Best match-3 game
                out there!"
              </p>
            </div>
            <div class="player-wrap-two">
              <img
                src="./img/player/avatar-4-2x.png"
                alt="Player avatar"
                class="player-wrap-avat"
              />
              <p class="player-wrap-name">David T.:</p>
            </div>
          </div>
        </div>

        <div class="player-wrap-dop">
          <div class="player-wrap-dop-cont-img">
            <picture class="game-img">
              <source
                srcset="
                  ./img/player/play-one-1x-desk.png 1x,
                  ./img/player/play-one-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/player/play-one-1x-mob.png"
                alt="Player Reviews image"
              />
            </picture>
          </div>

          <div class="player-wrap-dop-cont">
            <div class="player-wrap-one">
              <img
                src="./img/stars-5.png"
                alt="Player stars"
                class="player-wrap-img"
              />
              <p class="player-wrap-text">
                "A match-3 game that’s both relaxing and challenging!"
              </p>
            </div>
            <div class="player-wrap-two">
              <img
                src="./img/player/avatar-3-2x.png"
                alt="Player avatar"
                class="player-wrap-avat"
              />
              <p class="player-wrap-name">Emily K.:</p>
            </div>
          </div>

          <div class="player-wrap-dop-cont-img">
            <picture class="game-img">
              <source
                srcset="
                  ./img/player/play-four-1x-desk.png 1x,
                  ./img/player/play-four-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/player/play-four-1x-desk.png"
                alt="Player Reviews image"
              />
            </picture>
          </div>
        </div>

        <div class="player-wrap-dop">
          <div class="player-wrap-dop-cont">
            <div class="player-wrap-one">
              <img
                src="./img/stars-5.png"
                alt="Player stars"
                class="player-wrap-img"
              />
              <p class="player-wrap-text">
                "I love the events and rewards! Keeps me playing every day!"
              </p>
            </div>
            <div class="player-wrap-two">
              <img
                src="./img/player/avatar-2-2x.png"
                alt="Player avatar"
                class="player-wrap-avat"
              />
              <p class="player-wrap-name">Mike L.:</p>
            </div>
          </div>

          <div class="player-wrap-dop-cont-img">
            <picture class="game-img">
              <source
                srcset="
                  ./img/player/play-three-1x-desk.png 1x,
                  ./img/player/play-three-2x-desk.png 2x
                "
                media="(min-width: 1440px)"
              />
              <img
                src="./img/player/play-three-1x-desk.png"
                alt="Player Reviews image"
              />
            </picture>
          </div>

          <div class="player-wrap-dop-cont">
            <div class="player-wrap-one">
              <img
                src="./img/stars-5.png"
                alt="Player stars"
                class="player-wrap-img"
              />
              <p class="player-wrap-text">
                "The boosters make the game extra fun! Can’t stop playing!"
              </p>
            </div>
            <div class="player-wrap-two">
              <img
                src="./img/player/avatar-5-2x.png"
                alt="Player avatar"
                class="player-wrap-avat"
              />
              <p class="player-wrap-name">Olivia M.:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
