@import "./common/vars";

.header {
  display: none;
  background-color: rgba($_backg, 0.8);
}

@media screen and (min-width: 1440px) {
  .header {
    display: block;
    width: 100%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .nav {
    display: flex;
    width: 1280px;
    margin: 0 auto;
  }
  .nav-list {
    display: flex;
    padding: 26px 0 36px 0;
    justify-content: space-between;
    width: 100%;
  }
}
